<div class="col-lg-3">
  <h4>Patients <small>(sorted alphabetically)</small></h4>
  <ul class="nav nav-pills nav-stacked patient-list">
    {{#each sortedPatients as |patient|}}
      <li>
        <a {{action "selectPatient" patient}} class="nav-link {{if patient.active 'active'}}">{{patient.fullName}}</a>
      </li>
    {{/each}}
  </ul>
</div>
<div class="col-xs-9">

  <h4 class="card-title">BMI Calculations <small>(sorted by date)</small></h4>
  {{selectedPatient.fullName}}
  <ul>
    {{#each selectedPatient.bmiObservations as |obs|}}
      <li>{{obs.value}}</li>
    {{/each}}
  </ul>
</div>
